/*
Robert Smith
VFW 1206
Project 2 stylesheet
*/

body {
	background-color: green;
	color: #F2EDC8; 
	font:italic bold 18px/30px chalkboard;}
h1 {
	text-align: center;
	font-size: 24pt;
	margin: 10px}
article { background: white;
		  color: blue;
	}
legend {
	text-align: center;}
fieldset {
	margin: 20px 0px 40px -20px;
	border: 0}
#brClass {
	margin-bottom: 40px;
	padding: 5px 200px 5px 2px;
	border: 1px solid black
}
#brAssign {
	padding: 5px 153px 5px 2px;
	border: 1px solid black
}
#brTeacher {
	
}
#brDueDate {

}
#clname {
	display: block;}
#asname {
	display: block;}
#dudate {
	display: block;}
#prior {
	display: block;}
#InsName {
	display: block;}
#email {
	display: block;}
#notes {
	display: block;}
li {
	font-size: 12pt;}
ul, li{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;}
a {
	color: orange;}
a:hover {
	color: white;}
#errors {
	color: red;
	text-align: center;}



	
	

	
	
	
	