/*
Robert Smith
VFW 1206
Project 2 stylesheet
*/

body {
	background-color: #0069ff;
	color: #f2f986; 
	font:italic bold 18px/30px chalkboard;}
h1 {
	text-align: center;
	font-size: 24pt;
	margin: 10px}
article { background: pink;
		  color: blue;
		  display: block;}
legend {
	text-align: center;}
fieldset {
	margin: 20px 0px 40px -20px;
	border: 0}
nav ul {
	background-color: #ed1c24;
	color: white;
	margin: 0px;
	padding: 5px 0px 5px 0px;}
nav ul li {
	background-color: grey;
	color: black;
	margin: 10px;
	height: 30px;
	border: 5px outset #0069ff}
nav ul li a {
	display: block;
	height: 30px;
	text-decoration: none;
	text-align: center;}
nav ul li a:hover {
	background-color: white;
}
#clname {
	display: block;}
#asname {
	display: block;}
#dudate {
	display: block;}
#prior {
	display: block;}
#InsName {
	display: block;}
#email {
	display: block;}
#notes {
	display: block;}
li {
	font-size: 12pt;}
ul, li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;}
a {
	color: orange;}
#errors {
	color: red;
	text-align: center;}



	
	

	
	
	
	